<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Company Info Section -->
            <div class="col-lg-4 footer-section">
                <a href="#" class="footer-logo">Logo</a>
                <p class="footer-description">
                    Your trusted financial partner. We help you manage your money smarter
                    and achieve your financial goals.
                </p>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>

            <!-- Quick Links Section -->
            <div class="col-lg-2 col-md-6 footer-section">
                <h3 class="footer-heading">Quick Links</h3>
                <ul class="footer-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/help">Contact</a></li>
                    <li><a href="/help">Help</a></li>
                </ul>
            </div>

            <!-- Services Section -->
            <div class="col-lg-2 col-md-6 footer-section">
                <h3 class="footer-heading">Services</h3>
                <ul class="footer-links">
                    <li><a href="/login">Transactions</a></li>
                    <li><a href="/login">Account Management</a></li>
                    <li><a href="/login">Money Transfer</a></li>
                    <li><a href="/login">Withdraw</a></li>
                    <li><a href="/login">Diposit</a></li>
                </ul>
            </div>

            <!-- Download Section -->
            <div class="col-lg-4 col-md-6 footer-section">
                <h3 class="footer-heading">Download Our App</h3>
                <p class="footer-description">
                    Get our app for the best mobile banking experience.
                </p>
                <div class="download-links">
                    <a href="#" class="store-button">
                        <i class="fab fa-apple"></i>
                        <div>
                            <small>Download on the</small><br>
                            App Store
                        </div>
                    </a>
                    <a href="#" class="store-button">
                        <i class="fab fa-google-play"></i>
                        <div>
                            <small>Get it on</small><br>
                            Google Play
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <p>&copy; 2024 Your Company Name. All rights reserved.</p>
        </div>
    </div>
</footer>